@page "/items"
@inject HttpClient Http

<h3>Items</h3>
@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private Item[]? items;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<Item[]>("Data/Items.json");
    }

    public class Item
    {
        public int Id { get; set; }
        public string? Name { get; set; }
    }
}
